#menu_text {
	background-color: #04AA6D;
	text-align: center;
	padding: 80px;
    margin: 0;
}
	h1{
		color: black;
	}
	h2{
				color: red;
	}
nav{

	background-color: #13261a;
	padding: 14px 20px;
}
nav a {
	color: white;
}

element.style {
}
ul.nav-icons li.nav-item a.nav-link {
    padding: 0;
}
.navbar .navbar-nav .nav-link {
    color: rgba(52,73,94,.85);
}
.navbar-light .navbar-nav .nav-link {
    color: #34495e;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

a, h3.article-title a:hover {
    color: #1565c0;
    text-decoration: none;
    transition: color .6s ease;
}
a {
    color: #1565c0;
    text-decoration: none;
    background-color: transparent;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
ul.nav-icons {
    list-style-type: none;
    font-size: 18px;
    padding: 0.5rem 0;
    margin: 0;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
.navbar {
    height: 70px;
    background: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 11%);
    font-size: 16.17px;
    padding: 0 1rem;
}
.navbar-light {
    font-family: roboto,sans-serif;
    font-weight: 400;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
}
style attribute {
    opacity: 1.01667;
    visibility: visible;
}
body {
    font-family: inherit;
    font-size: 1rem;
    line-height: inherit;
    color: inherit;
    background-color: #fff;
    padding-top: 0;
    counter-reset: captions;
    overflow-x: hidden;
    margin-top: 70px;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,liberation sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
:host, :root {
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
}
:host, :root {
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
}
:host, :root {
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
}
html {
    font-family: roboto,sans-serif;
    font-size: 16.17px;
    color: rgba(0,0,0,.8);
    line-height: 1.65;
    scroll-padding-top: 70px;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}

    <style>
body {margin:0}

.icon-bar {
  width: 90px;
  background-color: #555;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}
</style>

