
@media (max-width: 1100px){


    .avatar{
        width: 250px;
        height: 250px;
    }

}

@media (max-width: 994px){
    .list > li:nth-child(8),
    .list > li:nth-child(7){
        display: none;
    }
    .logo{
        margin-left: 43px;
    }
    .slidemenu{
        display: flex;
    }
    #btnBar{
        display: block;
    }

    nav{
        width: 85%;
    }

    .list{
        display: none;
    }
     
    .list-on{
        display: block!important;
        position: fixed;
        top: 13.5%;
        left: 0px;
        text-align: left;
        line-height: 30px;
        width: 100%;
        height: auto;
        padding: 15px;
        color: var(--mainColor);
        background-color: var(--backgroundDarkMode);
        box-shadow: 0 1px 5px -2px grey;
    }

    .about{
        display: block;
        margin: auto;
        justify-content: center;
        width: 100%;
    }

    .col-3{
        width: 100%;
    }



    .network-icon > li {
        font-size: 30px;
    }

    .school{
        padding: 10px;
    }

    .col-7{
        width: 100%;
        padding: 30px;
    }

    .ul-interests{
        padding-left: 20px;
    }

    .description{
        line-height: 25px;
        font-size: 14px;
    }
}